.header {
  background: #e2f3fc url(http://s345.photobucket.com/user/roseboat/media/fishydishyheader_zpsk8n0eefx.png) 100% 100% no-repeat;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  width: 100%;
	background-color: #87c9d9;
	bottom: 0;
	padding: 10px;
	font-size: 20px;
  color: black;
  text-transform: uppercase;
	border-radius: 0;
	padding: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 100%
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

.btn {
	cursor: pointer;
	font-size: 25px;
	padding: 10px 10px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1 {
	font-weight: 700;
	font-size: 45px;
}

h2 {
	font-weight: 700;
	font-size: 35px;
}

h3 {
	font-weight: 700;
	font-size: 25px;
}

/* Set black background color, white text and some padding */
footer {
	width: 100%;
	background-color: #2e9fb5;
	bottom: 0;
	color: black;
  text-transform: uppercase;
	padding: 10px;
	font-size: 20px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
