{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rango
{% endblock %}

{% block body_block %}

<body onload="getLocation()">
	<h1>Find your Local Fishmongers</h1>

	<div>
		
			hey there partner!
		
	</div>



	<h2>Most Liked Categories</h2>
	  <div>
		
		<ul>
			

			<li>
				<a href="/rango/category/python/">Python</a>
			</li>
			

			<li>
				<a href="/rango/category/django/">Django</a>
			</li>
			

			<li>
				<a href="/rango/category/other-frameworks/">Other Frameworks</a>
			</li>
			

			<li>
				<a href="/rango/category/pascal/">Pascal</a>
			</li>
			
		</ul>
		
	</div>

	<h2>Most Viewed Pages</h2>
	<div>
		
		<ul>
			

			<li>
				<a href="http://docs.python.org/2/tutorial/">Official Python Tutorial</a>
			</li>
			

			<li>
				<a href="http://www.greenteapress.com/thinkpython/">How to Think like a Computer Scientist</a>
			</li>
			

			<li>
				<a href="http://www.korokithakis.net/tutorials/python/">Learn Python in 10 Minutes</a>
			</li>
			

			<li>
				<a href="https://docs.djangoproject.com/en/1.9/intro/tutorial01/">Official Django Tutorial</a>
			</li>
			

			<li>
				<a href="http://www.djangorocks.com/">Django Rocks</a>
			</li>
			
		</ul>
		
	</div>

	<p>visits: 1</p>
	
	{% endblock %}